@model List<ZeldaWebsite.Models.Order>
@{
	ViewData["Title"] = "Dashboard";
	Layout = "~/Views/Shared/ManagerLayout.cshtml";
}
<!-- ============================================================== -->
<!-- Yearly Sales -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-lg-8 mb-10 ml-10">
		<div>
			<h4 class="card-title">Graph Overview</h4>
		</div>
		<div class="card oh">
			<div class="card-body">
				<div id="morris-area-chart" style="height: 350px;">@Html.Raw(ViewBag.MonthlyOrdersJson)</div>

			</div>
			<div class="card-body bg-light">
				<div class="row text-center m-b-20">
					<div class="col-lg-4 col-md-4 m-t-20">
						<h2 class="m-b-0 font-light">@Model.Count</h2><span class="text-muted">Total orders</span>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- ============================================================== -->
	<!-- News -->
	<!-- ============================================================== -->
	<div class="row">
		<!-- column -->
		<div class="col-12 ml-10 mb-10">
			<div class="card">
				<div class="card-body">
					<div class="d-flex">
						<div>
							<h4 class="card-title">Sales Overview</h4>
							<h5 class="card-subtitle">Check the monthly sales </h5>
						</div>
						<div class="ml-auto">
							<select class="custom-select b-0">
								<option>January</option>
								<option value="1">February</option>
								<option value="2" selected="">March</option>
								<option value="3">April</option>
							</select>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Date</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var order in Model)
							{
								<tr>
									<td class="text-center">@order.Id</td>
									<td class="txt-oflo">@order.FirstName</td>
									<td class="txt-oflo">@order.LastName</td>
									<td class="txt-oflo">@order.Date.Day/@order.Date.Month/@order.Date.Year</td>
									<td><span class="text-success">@order.Total.ToString("F2")$</span></td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>