@model ZeldaWebsite.Models.Flavour

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}
<div class="ml-55">
<h1>Details</h1>
<h4>Flavour</h4>
<hr />
</div>
<div class="ml-55 mb-10">
<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" style="color:darkblue">Edit</a> |
    <a asp-action="Index" style="color:darkblue">Back to List</a>
</div>
</div>
